<section class="tiles">

  {% for tile in tiles %}
    {% include "@molecules/box-thumbnail.twig" with {
      img: tile.img,
      style: tile.style,
      header: tile.header
    } %}
  {% endfor %}

</section>
