<!-- <div class="box-thumbnail">

</div> -->

<article class={{ style }}>
	<span class="image">
    {% include "@atoms/_img.twig" %}
		<img src={{ image }} alt="alt text">
	</span>
	<a href="generic.html">
		<h2>{{ header }}</h2>
		<div class="content">
			<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
		</div>
	</a>
</article>
